@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Taehyuk Chung</h1>
    <h2>A01084553</h2>
    <p>When I graduate I want to be a fullstack developer</p>
</div>
